* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-image: url('../images/beautiful-young-girl-yellow-raincoat-600w-1276224355.jpg');
  background-size: cover;
  background-position: top center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  border: 1px solid aqua;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
  flex-direction: column
}

h2 {
  text-align: center;
  color: rgb(247, 8, 175);
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

h2 span {
  background-color: rgb(127, 241, 241);
  border-radius: 15px;
  opacity: 0.9; 
  padding: 5px 10px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(241, 247, 247, 0.8);
  border-radius: 10px 10px 10px 10px;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.3s ease-out;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

header input:focus {
  background-color: rgba(167, 248, 248, 0.8)
}

main {
  flex: 1 1 100%;
  padding: 2px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location {
  box-shadow: 1px 1px 1px 1px rgba(175, 211, 211, 0.9), 0px -1px 2px 2px rgba(175, 211, 211, 0.9);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgb(255, 14, 215);
}

.location .city {
  color: #FFF;
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 5px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.location .date {
  color: #FFF;
  font-size: 16px;
}

.current .temp span {
  font-weight: 400;
}

.current .weather {
  color: #FFF;
  font-size: 25px;
  background-color: aqua;
  width: 80%;
  margin-left: auto; margin-right: auto;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.current .hi-low {
  color: rgb(245, 9, 154);
  font-size: 24px;
  font-weight: 500;
}

#time {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  background-color: aqua;
  padding: 5px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgba(175, 211, 211, 0.9), 0px -1px 2px 2px rgba(175, 211, 211, 0.9);
}

#btn {
  display: none;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}


/* -- media query-- */

@media only screen and (max-width: 576px ) {
  .weather-icon{
    width: 200px;
    height: 50px;
    background-color: #d9f1f0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    margin-top: 20px;
    opacity: 0.8;
  }
  .sub-main {
    background-color: rgba(167, 248, 248, 0.9); 
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgba(6, 250, 250, 0.8);;
  }
  .weather-icon img{
    margin: 2px auto;
    height: 90%;
  }
  .current .temp {
    color: rgb(255, 14, 215);
    font-size: 80px;
    font-weight: 900;
    margin: 0px 0px;
    text-shadow: 2px 7px rgba(0, 0, 0, 0.5);
  }
  .current .hi-low {
    color: rgb(245, 9, 154);
    font-size: 20px;
    font-weight: 300;
  }
}

@media only screen and (min-width: 576px) {
  #time {
    width: 60%;
  }
  .current .weather{
    width: 60%;
  }
  .location {
    width: 60%;
  }
  .sub-main {
    background-color: rgba(167, 248, 248, 0.9); 
    width: 60%;
    border-radius: 10px;
    border: 1px solid rgba(6, 250, 250, 0.8);;
  }

  h2 {
    width:60%;
  }
  .weather-icon{
    width: 200px;
    height: 80px;
    background-color: #d9f1f0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    margin-top: 20px;
    opacity: 0.8;
  }
  .weather-icon img{
    margin: 2px auto;
    height: 90%;
  }
  .current .temp {
    color: rgb(255, 14, 215);
    font-size: 90px;
    font-weight: 900;
    margin: 0px 0px;
    text-shadow: 2px 7px rgba(0, 0, 0, 0.5);
  }
  .current .hi-low {
    color: rgb(245, 9, 154);
    font-size: 24px;
    font-weight: 300;
  }
}
@media only screen and (min-width: 768px) {
  #time {
    width: 60%;
  }
  .current .weather{
    width: 60%;
  }
  .sub-main {
    width: 50%;
    border-radius: 20px;
  }
  .location {
    width: 50%;
  }

  main {
    flex: 1 1 100%;
    padding: 25x 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h2 {
    width:60%;
  }
  h2 span {
    background-color: rgb(127, 241, 241);
    border-radius: 15px;
    opacity: 0.9; 
    padding: 10px 10px;
    font-size: 1.4em;
    margin-bottom: 20px;
    width: 100%;
  }

  .weather-icon{
    width: 250px;
    height: 80px;
    background-color: #d9f1f0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    margin-top: 25px;
    opacity: 0.8;
  }
  .weather-icon img{
    margin: 5px auto;
    height: 90%;
  }
  .current .temp {
    color: rgb(255, 14, 215);
    font-size: 90px;
    font-weight: 900;
    margin: 0px 0px;
    text-shadow: 2px 7px rgba(0, 0, 0, 0.5);
  }
  .current .hi-low {
    color: rgb(245, 9, 154);
    font-size: 24px;
    font-weight: 300;
  }
}

@media only screen and (min-width: 900px) {
  main {
    flex: 1 1 100%;
    padding: 25x 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #time {
    width: 60%;
  }
  .current .weather{
    width: 60%;
  }
  .sub-main {
    background-color: rgba(167, 248, 248, 0.9); 
    width: 30%;
    border-radius: 10px;
    border: 1px solid rgba(6, 250, 250, 0.8);;
  }
  .location {
    width: 50%;
  }

  h2 {
    width:60%;
  }
  h2 span {
    background-color: rgb(127, 241, 241);
    border-radius: 15px;
    opacity: 0.9; 
    padding: 10px 10px;
    font-size: 1.4em;
    margin-bottom: 20px;
    width: 100%;
  }

  .weather-icon{
    width: 250px;
    height: 80px;
    background-color: #d9f1f0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    margin-top: 25px;
    opacity: 0.8;
  }
  .weather-icon img{
    margin: 5px auto;
    height: 90%;
  }
  .current .temp {
    color: rgb(255, 14, 215);
    font-size: 90px;
    font-weight: 900;
    margin: 0px 0px;
    text-shadow: 2px 7px rgba(0, 0, 0, 0.5);
  }
  .current .hi-low {
    color: rgb(245, 9, 154);
    font-size: 24px;
    font-weight: 300;
  }
}
